{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static "nfilili/index.css"%}">
</head>
<div class="offer">
    <h3>Get 90% off in premium package untill <span id="timer"></span></h3>
</div>
<body>
    <nav class="navbar">
    <img src="{%static "nfilili/images/lg.png"%}" alt="" width="100" height="100">
    </nav>

<div class="hero">
    <div class="left">
      <h3 class="sub-title">Prime platform to digitally promote your business.</h3>
      <h1 class="title">market your business online and boost your digital presence</h1>
      <p class="description">Welcome to Nfilili where your digital desires meet limitless possibilities! Explore, discover, and indulge in our vibrant marketplace curated just for you. Let your journey begin!</p>
    <div class="cta">
        <form action="{% url "index-view" %}" method = "POST">
        {% csrf_token %}
        {% for fields in form %}
        {{fields}}
        {{fields.errors}}
        {% endfor %}
        <button class="button">Send</button>
        </form>
    </div>

    </div>

    <div class="right">
    <img src="{%static "nfilili/images/ill.png"%}" alt="illustration" width="400" height="400">
    </div>
</div>    
</body>
</html>