{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{%static "nfilili/success.css"%}">
    <script type="text/javascript">
        // Inline JavaScript to show an alert when the page loads
        window.onload = function() {
            alert("Success");
        };
    </script>
</head>
<body>
    <section class="description">
       <nav>
        <p>Success!</p>
       </nav>

       <section class="thank-you">
        <h1>Thank You</h1>
        <p>We will get back to you shortly</p>
       </section>
    </section>
</body>
</html>